/* Common CSS */

body {
  /* 기본 설정 */
  color: #16213e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  position: relative;
}
img {
  /*  모든 이미지 태그는 블록으로 처리 */
  display: block;
}
a {
  text-decoration: none;
  color: #e94560;
}
a:visited {
  color: #e94560;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--main {
  color: #fff;
  background-color: #16213e;
}
.btn.btn--main:hover {
  color: #fff;
  background-color: #533483;
  border-color: #533483;
}
.btn.btn--red {
  color: #e94560;
  background-color: transparent;
  border: 2px solid #e94560;
}
.btn.btn--red:hover {
  color: #fff;
  background-color: #e94560;
}
.btn.btn--white {
  background-color: #fff;
}
.btn.btn--white:hover {
  color: #fff;
  background-color: #000;
}
.headline-share {
  text-align: center;
  margin-bottom: 40px;
}
.headline-share > h1 {
  font-size: 40px;
  font-weight: bold;
  color: #e94560;
  margin-bottom: 28px;
}
.headline-share > h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(45deg, #e66465, #9198e5);
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.back-to-position.to-bottom {
  transform: translateY(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* 포트폴리오 타이틀 */
.fix_tit {
  position: relative;
  font-family: "NotoB";
  font-size: 180px;
  line-height: 1;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.fix_tit span {
  font-family: "NotoM";
  position: sticky;
  font-size: 30px;
  border-bottom: 3px solid rgba(000, 000, 000, 0.6);
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #16213e;
  color: #e94560;
  z-index: 100;
}
header > .inner {
  height: 120px;
}
header .logo {
  position: absolute;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #0f3460;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  display: block;
  font-size: 12px;
  padding: 11px 16px;
  color: #e94560;
}
header .sub-menu ul.menu li a:hover {
  color: lightgray;
}
header .sub-menu .search {
  height: 32px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 32px;
  padding: 4px 10px;
  border: 1px solid #533483;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #0f3460;
  color: lightgray;
  font-size: 12px;
  transform: translateY(3px);
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 180px;
  border-color: #e94560;
}
header .sub-menu .search .material-icons {
  position: absolute;
  transform: translateY(3px);
  top: 0;
  bottom: 0;
  right: 5px;
  font-size: 16px;
  height: 20px;
  margin: auto;
  cursor: pointer;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
}

header .main-menu .item .item__name,
header .main-menu .item .item__name a {
  padding: 10px 20px 25px 20px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
header .main-menu .item:hover .item__name,
header .main-menu .item:hover .item__name a {
  background-color: #0f3460;
  color: lightgray;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
  animation: ttb 0.4s ease-in-out both;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
@keyframes ttb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #0f3460;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 420px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  /* color: #533483; */
  color: #e94560;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  background-color: #0a2f5c;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.png");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
  font-size: 18px;
}
header .main-menu .item .item__contents .contents__texture p {
  margin: 4px 0 14px;
}

/* Section : Welcome */
.welcome {
  height: 700px;
  position: relative;
}
.welcome .slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.welcome .slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.welcome-heading {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 20%;
  text-align: center;
  width: 750px;
}
.welcome-heading span {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.welcome-heading h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 30px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.welcome-heading h1 em {
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.welcome-heading p {
  padding: 0 50px;
  margin-bottom: 50px;
}
.welcome-btns .btn {
  display: inline-block;
  width: 160px;
  padding: 8px;
  margin: 5px;
  transition: 0.5s;
}

/* Section : Profile */
.profile-access {
  padding-bottom: 80px 0;
  background-image: url("../images/porfile-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
.profile-access .profile-content {
  display: flex;
  padding: 50px 0;
}
.profile-content > div {
  width: 50%;
  height: 400px;
  padding: 10px;
}
.profile-left {
  width: 50%;
  position: relative;
}
.profile-left img {
  position: relative;
  top: 10px;
  left: 0x;
  width: 60px;
  filter: invert(35%) sepia(43%) saturate(1680%) hue-rotate(313deg)
    brightness(101%) contrast(94%);
}
.profile-left h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.profile-left p {
  font-size: 16px;
  margin-bottom: 8px;
}
.profile-left span {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-style: italic;
  width: 100%;
}
.profile-right {
  display: flex;
  height: 400px;
}
.profile-right .profile-msg {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.profile-msg h2 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #e94560;
}
.profile-msg h3 {
  color: #16213e;
  font-style: italic;
}
.profile-photo {
  width: 30%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.profile-photo img {
  width: 142px;
  height: 447px;
  bottom: -140px;
  right: 30px;
  position: absolute;
}

/* Section : focus */
.focus {
  padding: 80px 0;
  background-color: #f6f5ef;
}
.focus .focus-contents {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.focus .focus-contents .focus-item {
  width: 33%;
  padding: 0 20px;
}
.focus .inner .focus-contents .focus-item .material-icons {
  font-size: 64px;
  margin-bottom: 20px;
}
.focus .inner .focus-contents .focus-item h3 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 20px;
}
.focus .inner .focus-contents .focus-item p {
  margin-top: 5px;
}

/* Section : Notice */

.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: #16213e; */
  background-color: #16213e;
  border-radius: 0 20px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;
  display: flex;
  position: relative;
}
.notice .notice-line .inner::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 1px;
  bottom: 0;
}

.notice .notice-line .inner__left {
  width: 80%;
  height: 100%;
  background-color: #16213e;
  display: flex;
  align-items: center;
  border-radius: 0 30px 0 0;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #e94560;
  font-size: 30px;
  transition: 0.4s;
}
.notice .notice-line .inner__left .notice-line__more .material-icons:hover {
  color: white;
}
.notice .notice-line .inner__right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  position: relative;
  height: 693px;
  background-color: #16213e;
  overflow: hidden;
  transition: height 0.4s;
}
.notice .promotion.hide {
  height: 0;
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.notice .promotion .swiper-slide {
  opacity: 0.3;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide img {
  width: 819px;
  height: 480px;
  object-fit: cover;
}
.notice .promotion .swiper-slide .slide__box {
  transform: translateY(-74px);
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.notice .promotion .swiper-slide .slide__box .title {
  display: block;
  width: 100%;
  position: absolute;
  top: 13px;
  font-size: 20px;
  font-weight: 700;
  color: #16213e;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* Section : Youtube Video */
.youtube {
  position: relative;
  height: 700px;
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 비율 영상을 위한 세팅 */
}
.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Section : Portfolio */
.portfolio {
  padding: 80px 0;
}
.portfolio .portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
}

.portfolio-contents {
  height: 4000px;
}
.portfolio-contents .fix_wrap {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.portfolio-contents .fix_wrap .cont_box {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.portfolio-contents .fix_wrap .cont_box .canvas_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio-contents .fix_wrap .cont_box .canvas_wrap canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-contents .fix_wrap .cont_box .canvas_wrap .no_canvas {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 1080px;
  transform: translate(-50%, -50%);
}

/* Section : Protfolio2 */
.portfolio2 {
  height: 4000px;
}

/* SVG */
.svg_wrap.fix {
  position: fixed;
  top: 0;
  width: 1920px;
  height: 100vh;
}

.svg_wrap #portfolio2_svg {
  width: 100%;
  fill: none;
  stroke: #555;
  stroke-width: 4;
}

.video_wrap {
  position: sticky;
  width: 1920px;
  height: 100vh;
  top: 0;
  opacity: 0;
  transition: opacity 0.4s;
  /* background-color: blue; */
}
.video_wrap video {
  width: 100%;
}

/* Section : Faq */
.faq {
  padding: 40px 0;
  background-image: url("../images/faq-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.faq-content {
  display: flex;
}
.faq-content > div {
  width: 50%;
  padding: 25px;
}
.faq-content .left-content h2 {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}
.faq-content .left-content h2:first-of-type {
  margin-top: 20px;
}
.faq-content .left-content h2:last-of-type {
  margin-bottom: 10px;
}
.faq-content .left-content p {
  width: 90%;
  line-height: 1.6em;
}

/* faq-accordion */
.faq-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}
.faq-item > div {
  padding: 15px;
}
.faq-title {
  color: #533483;
  cursor: pointer;
}
.faq-title:after {
  font-family: "Material Icons";
  content: "chevron_right";
  float: right;
  color: #444;
  transition: 0.35s;
}
.faq-desc {
  display: none;
}
.faq-item.active {
  border: 1px solid #533483;
}
.faq-item.active .faq-title:after {
  color: #533483;
  transform: rotate(90deg);
}

/* Section : Contact */
.contact {
  padding: 40px 0;
  background-image: url("../images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.contact .section-content {
  display: flex;
}
.contact .section-content > div {
  width: 45%;
  margin: 30px;
}
.contact .section-content .content-left {
  display: flex;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  position: relative;
}

.contact .section-content .content-left #map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.contact .section-content .content-right {
  display: flex;
  flex-direction: column;
}
.contact .section-content .content-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #e94560;
}

.contact .section-content .content-right form {
  position: relative;
  padding: 30px;
}

.content-right {
  position: relative;
  text-align: center;
  width: 80%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  color: #e94560;
  overflow: hidden;
}

.input-field {
  position: relative;
}
.input-field input,
.input-field textarea {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  color: #fff;
  font-size: 18px;
}
.input-field span {
  position: absolute;
  left: 0;
  top: 30px;
  pointer-events: none;
  transition: 0.5s;
}
.button-field input {
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}
.add-info {
  overflow: hidden;
  margin-bottom: 15px;
}
.add-info label {
  float: left;
  display: blo;
  cursor: pointer;
  color: #e94560;
}
.add-info #save-email:checked ~ span {
  color: #fff;
}

/* Input Field */
.input-field input:focus + span,
.input-field input:valid + span,
.input-field textarea:focus + span,
.input-field textarea:valid + span {
  top: 0;
  /* transform: translateY(-30px); */
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.input-field span.warning {
  color: crimson !important;
  animation: warning 0.3s ease-in-out 2;
}

/* Section : links */
.links {
  background-color: #16213e;
}
.links .inner {
  padding: 40px 0;
}
.links .swiper {
  width: 100%;
  height: 40px;
}
.links .swiper-prev,
.links .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.links .swiper-prev {
  left: -100px;
}
.links .swiper-next {
  right: -100px;
}
.links .swiper-prev:hover,
.links .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

/* Footer */
footer {
  background-color: #16213e;
  color: #bdbdbd;
  font-size: 14px;
  padding: 60px 0;
}

.footer-content {
  overflow: hidden;
}
.footer-content > div {
  float: left;
}
.footer-logo {
  width: 15%;
}
.copyright {
  width: 85%;
  overflow: hidden;
}
.footer-logo img {
  filter: grayscale(1);
}
.policy-sns {
  overflow: hidden;
  border-bottom: 1px solid #32456e;
  padding-bottom: 20px;
}
.policy {
  float: left;
}
.policy span:first-child a {
  color: #bdbdbd;
}
.policy span:first-child em {
  font-style: normal;
  margin: 10px;
  color: #777;
}
.policy span:last-child {
  display: block;
}
.sns {
  float: right;
}
.sns i {
  color: #fff;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #37466c;
  text-align: center;
  line-height: 25px;
  margin: 1px;
  transition: 0.5s;
}
.sns i:hover {
  background-color: #000;
}
.address {
  padding-top: 20px;
}
.address span {
  display: block;
}

#to-top {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9;
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#to-top .progress-group1,
#to-top .progress-group2 {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e94560;
}
#to-top .progress-group2 {
  display: none;
}

/* admin-write.html  */

.write-body {
  background-color: #16213e;
}
.write-form {
  position: relative;
  padding: 40px;
}
.write-container {
  width: 100%;
  height: 100%;
}
.write-form form {
  color: white;
}
.write-form .input-field {
  position: relative;
}
.write-form .input-field input,
.write-form .input-field textarea {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  color: #fff;
  font-size: 18px;
}
.write-form .input-field span {
  position: absolute;
  left: 0;
  top: 30px;
  pointer-events: none;
  transition: 0.5s;
}
.write-form .button-field input {
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}
.write-form .add-info {
  overflow: hidden;
  margin-bottom: 15px;
}
.write-form .add-info label {
  float: left;
  display: blo;
  cursor: pointer;
  color: #e94560;
}
.write-form .add-info #save-email:checked ~ span {
  color: #fff;
}

/* Input Field */
.write-form .input-field input:focus + span,
.write-form .input-field input:valid + span,
.write-form .input-field textarea:focus + span,
.write-form .input-field textarea:valid + span {
  top: 0;
  /* transform: translateY(-30px); */
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.write-form .input-field span.warning {
  color: crimson !important;
  animation: warning 0.3s ease-in-out 2;
}
